/* CSS Entry Point */
// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
$deep-blue: #05668D;
$sea-blue: #028090;
$turquoise: #00A896;
$teal: #02C39A;
$sand: #F0F3BD;

@mixin big-button{
	font-size: 3em;
	color: white;
	background-color: $sea-blue;
	border-radius: 5px;
	border: none;
	padding: 15px;
	margin: 10px;
}

@mixin small-button{
	font-size: .80em;
	color: white;
	background-color: darken($sea-blue, 20%);
	border-radius: 5px;
	border: none;
	padding: 15px;
	margin: 10px;	
}

*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
////////// Buttons /////////////////
.big-button {
	@include big-button;
}

.small-button {
	@include small-button;
}
////////// Heading /////////////////
.heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $teal;
	h1 {
		font-family: 'Walter Turncoat', cursive;
		font-size: 5em;
		text-decoration: none;
	}
}

a {
	text-decoration: none;
	color: black;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.footer-button-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.copyright {
		margin: 15px 0 15px 0;
		font-size: .75em;
	}
}
////////// Home ////////////////////
.home{
	background-color: $teal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		margin-top: -10px;
	}
}

img{
	width: 30%;
	border-radius: 100%;
	margin: 15px;
}
////////// Report a student ////////
.report {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid $deep-blue;
	border-radius: 10px;
	background-color: $sand;
	width: 60%;
	margin-top: 3%;
	.SSF-div, div, h2, label, select, option {
		margin: 5px;
	}
}

.title-student-note {
	text-align: center;
}

.SSF-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
////////// Thank You ///////////////
.thank-you {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div, h2, p, iframe {
		margin: 5px;
	}
	iframe {
		border-radius: 10px;
		border: none;
	}
}
////////// Resources ///////////////
.resources {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 25%;
	height: 300px;
	div {
		border-top: 3px solid black;
		width: 50%;
		height: 150px;
		margin-top: 1%;
	}
}