/* CSS Entry Point */
// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
$deep-blue: #05668D;
$sea-blue: #028090;
$turquoise: #00A896;
$teal: #02C39A;
$sand: #F0F3BD;

@mixin big-button{
	font-size: 3em;
	color: white;
	background-color: $sea-blue;
	border-radius: 5px;
	border: none;
	padding: 15px;
	margin: 10px;
}

@mixin small-button{
	font-size: .80em;
	color: white;
	background-color: darken($sea-blue, 20%);
	border-radius: 5px;
	border: none;
	padding: 15px;
	margin: 10px;	
}

*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

body {
	background-color: $teal;

}

.app {
	// min-height: 100vh;

}
////////// Buttons /////////////////
.big-button {
	@include big-button;
}

.small-button {
	@include small-button;
}
////////// Heading /////////////////

.heading {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// height: 100vh;
		// .logo-wrapper {
		// 	display: inline;
			.logo {
				margin: 10px;
				width: 8%;
			}

			a {
				text-decoration: none;
			
			}
		// }
	
	
}

.header {
	// text-align: center;
	// display: flex;
	display: inline-block;
	text-align: center;
	// flex-direction: row;
	justify-content: center;
	margin: 0 0 2em 0;

	div {
		display: inline;
	}
	a {
		display: inline;
	}
}

// .app-name {		
// 	display: inline; 		
 	h1 {		
  	font-family: 'Walter Turncoat', cursive;
  	font-size: 5em;		  	
 		display: inline;
 		vertical-align: bottom;		
  	}		  	
 // }

 .tagline {		
 	text-align: center;	
 	margin: 0 0 2em 0;	
 }

a {
	text-decoration: none;
	color: black;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.footer-button-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.copyright {
		margin: 15px 0 15px 0;
		font-size: .75em;
	}
}

a {
	text-decoration: none;
}
////////// Home ////////////////////
.home{
	// background-color: $teal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.hero-image {
		width: 30%;
		border-radius: 100%;
	}
}

////////// Report a student ////////
.report {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid $deep-blue;
	border-radius: 10px;
	background-color: $sand;
	width: 60%;
	margin-top: 3%;
	margin-bottom: 3%;
	margin: auto;
	.SSF-div, div, h2, label, select, option {
		margin: 5px;
	}
}

.title-student-note {
	text-align: center;
}

.SSF-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
////////// Thank You ///////////////
.thank-you {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div, h2, p, iframe {
		margin: 5px;
	}
	iframe {
		border-radius: 10px;
		border: none;
	}
}
////////// Resources ///////////////
.resources {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 40%;
	height: 300px;
	margin: 20px auto;
	.resource-item {
		border: 3px solid black;
		border-radius: 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 15px;
	}
	img{
		height: 100px;
		width: 200px;
	}
}


