/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
// EXTEND * PSD * Work off of constants * Global vars * 

*{
	box-sizing: border-box; 
}

img{
	width: 550px;
	height: 450px;
}

.home{
	background-color: pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
}